<h4 class="sidebar-summary">{{localize "PF2E.Item.SidebarSummary" type=(localize "ITEM.TypeSpell")}}</h4>

<span class="item-summary">{{localize (lookup magicSchools data.school.value)}}</span>
<span class="item-summary">{{localize (lookup spellTypes data.spellType.value)}}</span>
<span class="item-summary">{{{actionGlyph data.time.value fallback=true}}}</span>

<ol class="item-tags tags">
    <li class="tag tag_transparent">{{#with (lookup rarities data.traits.rarity)}}{{localize this.label}}{{/with}}</li>
    {{#each spellComponents}}
        <li class="tag tag_transparent">{{this}}</li>
    {{/each}}
</ol>
{{#if (or data.prepared.value data.concentration.value data.ritual.value)}}
    <ol class="item-tags tags">
        {{#if data.prepared.value}}
            <li class="tag tag_transparent">{{localize "PF2E.SpellPreparedLabel"}}</li>
        {{/if}}

        {{#if data.concentration.value}}
            <li class="tag tag_transparent">{{localize "PF2E.SpellConcentrationLabel"}}</li>
        {{/if}}

        {{#if data.ritual.value}}
            <li class="tag tag_transparent">{{localize "PF2E.SpellRitualLabel"}}</li>
        {{/if}}
    </ol>
{{/if}}
<ol class="item-tags tags">
    {{#each traits as |trait|}}
        {{#if trait.selected}}
            <li class="tag tag_transparent">{{localize trait.label}}</li>
        {{/if}}
    {{/each}}
</ol>
