<div class="tab feats pfs-pane" data-group="primary" data-tab="pfs">
    <div class="pfs">
        <div class="organized-play spacing">
            <label class="details-label" for="{{options.id}}-pfs-player-number">{{localize "PF2E.PFS.OrganizedPlayNumber"}}</label>
            <label class="details-label" for="{{options.id}}-pfs-character-number">{{localize "PF2E.PFS.CharacterNumber"}}</label>
            <span>
                <input class="pfs-player-number" id="{{options.id}}-pfs-player-number" name="data.pfs.playerNumber" value="{{data.pfs.playerNumber}}" type="text" maxlength="10" />-
            </span>
            <span>
                <input class="pfs-character-number" id="{{options.id}}-pfs-character-number" name="data.pfs.characterNumber" value="{{data.pfs.characterNumber}}" type="text" maxlength="4" />
            </span>
        </div>
        <div>
            <label class="details-label" for="{{options.id}}-pfs-level-bump">{{localize "PF2E.PFS.LevelBump"}}</label>
            <div class="level-bump toggle{{#if data.pfs.levelBump}} enabled{{/if}}">
                <input id="{{options.id}}-pfs-level-bump" name="data.pfs.levelBump" type="checkbox" {{checked data.pfs.levelBump}} />
                <label class="details-label" for="{{options.id}}-pfs-level-bump"></label>
            </div>
        </div>
    </div>
    <div class="pfs">
        <div class="spacing">
            <label class="details-label" for="{{options.id}}-pfs-current-faction">{{localize "PF2E.PFS.CurrentFaction"}}</label>
            <span class="pf-value pf-small" title="{{localize "PF2E.PFS.CurrentFaction"}}">
                <select id="{{options.id}}-pfs-current-faction" name="data.pfs.currentFaction">
                    {{#select data.pfs.currentFaction}}
                        {{#each pfsFactions as |label key|}}
                            <option value="{{key}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </span>
        </div>
        <div>
            <label class="details-label" for="{{options.id}}-pfs-fame">{{localize "PF2E.PFS.Fame"}}</label>
            <span>
                <input id="{{options.id}}-pfs-fame" name="data.pfs.fame" value="{{data.pfs.fame}}" type="number" />
            </span>
        </div>
    </div>

    <div class="pfs">
        <div class="spacing">
            <span class="details-label">{{localize "PF2E.PFS.Reputation"}}</span>
            {{#each data.pfs.reputation as |rep faction|}}
                <div>
                    <label for="{{@root.options.id}}-pfs-rep-{{faction}}">{{localize (add "PF2E.PFS.Factions." faction)}}:</label>
                    <input class="small-input" id="{{@root.options.id}}-pfs-rep-{{faction}}" name="data.pfs.reputation.{{faction}}" value="{{rep}}" type="number" />
                </div>
            {{/each}}
        </div>
    </div>

    <ol class="actions-list directory-list">
        {{#each actor.feats as |section sid|}}
            {{#if (eq section.label "PF2E.FeatPFSBoonHeader")}}
                <li class="item action-header">
                    <h3 class="feat-name pf-heading pf-actions">{{localize section.label}}</h3>
                    {{#if ../owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="{{localize "PF2E.CreateFeatTitle"}}" data-type="feat" data-feat-type="{{sid}}"><i class="fas fa-plus"></i></a>
                            <a class="item-control feat-browse" title="{{localize "PF2E.OpenFeatBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                        </div>
                    {{/if}}
                </li>

                {{#each section.feats as |feat fid|}}
                    <li class="item feat-item" data-item-id="{{feat._id}}">
                        <div class="item-name rollable">
                            <img class="item-image" src="{{feat.img}}" alt="{{feat.name}}">
                            <h4>{{feat.name}}</h4>
                        </div>
                        {{#if ../../owner}}
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            {{/if}}
        {{/each}}

        <li class="item action-header">
            <h3 class="item-name pf-heading pf-actions">{{localize "PF2E.FeatPFSBoonHeader"}}</h3>
            {{#if owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize "PF2E.CreateFeatTitle"}}" data-type="feat" data-feat-type="pfsboon"><i class="fas fa-plus"></i></a>
                    <a class="item-control feat-browse" title="{{localize "PF2E.OpenFeatBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                </div>
            {{/if}}
        </li>

        {{#each actor.pfsBoons as |feat|}}
            <li class="item feat-item" data-item-id="{{feat._id}}">
                <div class="item-name rollable">
                    <div class="feat-slot-title">
                    </div>
                    <img class="item-image" src="{{feat.img}}" alt="{{feat.name}}">
                    <h4>
                        {{feat.name}}
                    </h4>
                </div>
                {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                    </div>
                {{/if}}
            </li>
        {{/each}}
    </ol>
</div>
